:root {
  --mainPurple: #4a1962;
  --purpleGradient: linear-gradient(
    23deg,
    rgba(74, 25, 98, 1) 54%,
    rgba(33, 6, 64, 1) 100%
  );
  --mainWhite: #ffffff;
  --neonGreen: #00e06d;
  --secondaryText: #575656;
  --boxShadowGrey: #eee;
  --mainRed: #d81159;
  --secondaryRed: #db1f63;
}
