.Ad {
		margin-top: 60px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	span {
		width: 240px !important;
		margin: auto !important;
		box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
	}
	&__img {
	}
	&__txt {
		margin-bottom: 20px !important;
	}
}