.siteHeader {
  margin-bottom: 20px;
  position: sticky;
  z-index: 1;
  top: 0;
  display: none;

  @media (min-width: 960px) {
    display: block;
    visibility: hidden;
    transition: all 300ms linear;
  }

  &__init {
    position: relative;
    // transition: all 4s linear;
    a {
      &:hover {
        color: var(--secondaryRed);
      }
    }
  }

  &__logo {
    filter: drop-shadow(-1px 0px 2px #222);
    visibility: hidden;
    @media (min-width: 960px) {
      visibility: visible;
      max-width: 168px;
    }
  }

  &__listItem {
    font-family: "IBM Plex Sans", sans-serif;
    position: relative;
    transition: color 500ms;
    color: var(--mainPurple);
    font-size: 1.25rem;

    &__active {
      color: var(--secondaryRed);
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 0.2rem;
      transition: transform 0.2s;
      transform: scaleX(0);
      transform-origin: left top;
    }

    &:hover::after {
      transform: scaleX(1);
    }
    @media (min-width: 960px) {
      &:hover {
        text-decoration: none;
      }
    }
  }

  &__listItemWrapper {
    display: none;
    @media (min-width: 960px) {
      display: flex;
      justify-content: space-around;
      width: 500px;
    }
  }

  &__nav {
    max-height: 50px;
    padding: 0;
    margin: 0;
    margin-bottom: 120px;
    @media (min-width: 960px) {
      max-height: initial;
      margin-bottom: 0;
    }
  }

  &__brandWrapper {
    &:hover {
      cursor: pointer;
    }
  }

  &__brand-wrapper__line {
    height: 3px;
    width: 40px;
    background-color: green;
    transform: rotate(90deg);
    position: relative;
    top: 27px;
    left: -26px;
  }

  &__brandNameInit {
    color: var(--mainPurple);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    padding: 10px 0 10px;
  }

  &__brandName {
    color: #fff;
    font-size: 1.5rem;
    padding: 10px 0 10px;
    margin: 0;
    // font-family: Arial;
    letter-spacing: 2px;
    line-height: 1;

    img {
      transform: translateX(60px);
      visibility: hidden;

      @media (max-width: 460px) {
        transform: translateX(0);
      }

      @media (min-width: 960px) {
        transform: translateX(0px);
        width: 75px;
        height: 75px;
      }
    }

    &:hover {
      cursor: pointer;
    }
    @media (max-width: 960px) {
      font-size: 1rem;
      visibility: visible;
    }
  }

  &__brand {
    color: #fff;
    margin: 0;
    padding: 0;
    position: relative;
    display: none;
  }

  &__menuIcon {
    position: absolute;
    right: 50px;
    width: 25px;
    height: 18px;
    top: 34%;
    // top: 100%;
    transition: transform 0.15s ease-in;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }

    &__closeX {
      &::before {
        transform: rotate(45deg);
      }
      .siteHeader__menuIcon__middle {
        opacity: 0;
      }
      &::after {
        transform: rotate(-45deg) translateY(1px);
      }
    }

    &::before {
      content: "";
      background-color: var(--mainPurple);
      position: absolute;
      width: 25px;
      height: 2px;
      top: 0;
      transform-origin: 0 0;
      transition: 300ms ease-out;
    }

    &__middle {
      background-color: var(--mainPurple);
      position: absolute;
      width: 25px;
      height: 2px;
      top: 8px;
      transition: 300ms ease-out;
    }

    &::after {
      content: "";
      background-color: var(--mainPurple);
      position: absolute;
      width: 25px;
      height: 2px;
      bottom: 0;
      transform-origin: 0 100%;
      transition: 300ms ease-out;
    }

    @media (min-width: 960px) {
      display: none;
    }
  }

  &__nav-active {
    text-decoration: underline;
  }

  &__navList {
    padding-left: 10px;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 960px) {
      padding-left: 90px;
      padding-right: 90px;
    }
  }

  &__navListItem {
    list-style-type: none;
  }

  nav ul li a,
  li {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.sideNav {
  background-color: var(--mainPurple);
  opacity: 0.97;
  width: 0;
  height: 100%;
  position: fixed;
  right: 0px;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.4s;
  z-index: 1;

  @media (min-width: 960px) {
    display: none;
  }
}

.sideNav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #eee;
  display: block;
  transition: 0.3s;

  &:hover {
    color: #fff;
  }
}

.openSideMenu {
  width: 100%;
}

.btn-close {
  color: #000;
  background-color: #fff;
  position: absolute;
  top: 60px;
  left: 15px;
  font-size: 36px;
  padding: 5px 10px;
  border-radius: 5px;
}

.sideNavListItems {
  padding: 0;
  width: 50%;
  margin-left: 50%;

  a {
    text-align: right;
    border-bottom: 3px solid #fff;
    padding-right: 50px;

    &:hover {
      border-bottom: 3px solid var(--mainWhite);
      text-decoration: none;
      color: #ff5190;
    }
  }
}

.svg-wrapper {
  position: relative;
  top: 0%;
  transform: translateY(-150%);
  margin: 0 auto;
  width: 320px;
  transform: rotate(-3deg);
}
.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: green;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  transform: translateY(-60px);
}
