@import "fonts";
@import "colors";

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant-ligatures: none;
}

body > div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

h2 {
  margin: 0;
}
p {
  line-height: 1.5;
}

main {
  flex-grow: 1;
}

.container {
  padding-left: 0px;
}

.site-header-init {
  position: relative;

  a {
    &:hover {
      color: var(--mainPurple);
    }
  }
}

.carousel-indicators {
  padding-bottom: 60px;
  justify-content: space-around;
  max-width: 120px;
  margin: auto;
  button {
    padding: 0.3em 0.6em;
  }
}

a.carousel-control-next:hover,
a.carousel-control-prev:hover {
  cursor: pointer;
}
